<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.root.app.user.UserDAO">
	<select id="getDetail" parameterType="UserDTO" resultMap="detailResult">
		SELECT * FROM USER_TBL U
		JOIN MEMBER_ROLE_TBL MR
		ON U.USERNAME = MR.USERNAME
		JOIN ROLE_TBL R
		ON MR.ROLE_NUM = R.ROLE_NUM
		WHERE U.USERNAME = #{username}
	</select>
	
	<resultMap type="UserDTO" id="detailResult">
		<id column="USERNAME" property="username"/>
		<result column="PASSWORD" property="password"/>
		<result column="NAME" property="name"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="BIRTH" property="birth"/>
		<result column="ORI_NAME" property="oriName"/>
		<result column="FILE_NAME" property="fileName"/>
		<collection property="list" javaType="List" ofType="RoleDTO">
			<result column="ROLE_NUM" property="roleNum"/>
			<result column="ROLE_NAME" property="roleName"/>
		</collection>
	</resultMap>
	
	<insert id="join" parameterType="UserDTO">
		INSERT INTO USER_TBL (USERNAME, PASSWORD, NAME, PHONE, EMAIL, BIRTH, FILE_NAME, ORI_NAME)
		VALUES (#{username}, #{password}, #{name}, #{phone}, #{email}, #{birth}, #{fileName}, #{oriName})
	</insert>
</mapper>